<!DOCTYPE html>
<html ng-app="aitu-project">

<head>
    <meta charset="utf-8" />
    <title>Product List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
    <script src="https://code.angularjs.org/1.5.8/angular.js"></script>
    <script src="app.js"></script>
</head>

<body ng-controller="ProductCtrl">
<div class="container">

    <h1>Hello {{customer.name}}</h1>

    <div class="row">
        <div class="col-log-12">
            <div id="options" class="m-b-10">
                <span class="gallery-option-set" id="filter" data-option-key="filter">
                    <a class="btn btn-default btn-xs active" ng-repeat="category in categoryList" ng-click="getProductsByCategory(category.id)">{{category.name}}</a>
                </span>
            </div>
        </div>
    </div>


    <h3>Product List</h3>
    <div class="row">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <th></th>
            <th>ID</th>
            <th>name</th>
            <th>description</th>
            <th>price</th>
            <th>categoryID</th>
            </thead>
            <tr ng-repeat="product in productList | orderBy: 'id'">
                <td ng-click="incrementProduct(product)"><button class="btn btn-danger btn-md"> ADD </button></td>
                <td ng-bind="product.id"></td>
                <td ng-bind="product.name"></td>
                <td ng-bind="product.description"></td>
                <td ng-bind="product.price"></td>
                <td ng-bind="product.categoryId"></td>
            </tr>
        </table>
        <button ng-click="sendOrders()" type="button" class="btn btn-primary btn-block btn-lg">Отправить заказ</button>
    </div>



    <div class="row">
        <div class="row">
            <div class="col-lg-6">
                <input ng-model="auth.login" type="text" placeholder="enter login" class="form-control form-control-lg inverse-mode" />
                <input ng-model="auth.password"  type="password" class="form-control form-control-lg inverse-mode" />
                <div class="login-buttons">
                    <button ng-click="login(auth)" type="button" class="btn btn-success btn-block btn-lg">Войти</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>

</html>
